.feed {
    flex: 0.4;
    border-right: var(--twitter-background) 1px solid;
    min-width: fit-content;
    overflow-y: scroll;
    background-color: rgb(0, 5, 22);
  }
  
  .feed_header {
    position: sticky;
    top: 0;
    background-color: rgb(0, 5, 22);
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    color: white;
  }

  .feed::-webkit-scrollbar {
    display: none;
  }

  .feed_header > h2 {
    font-size: 20px;
    font-weight: 700;
  }
