body {
  --twighter-color: rgb(46, 84, 207);
  --twighter-background: rgb(0, 0, 0);
  background-color: rgb(0, 5, 22);
}

.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

